# Домашнее задание «Продвинутый pandas»

## Преподаватель: Константин Башевой
### Студент Сотский Григорий

### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

* если источник traffic_source равен yandex или google, то в source_type ставится organic
* для источников paid и email из России - ставим ad
* для источников paid и email не из России - ставим other
* все остальные варианты берем из traffic_source без изменений

In [7]:
import pandas as pd

In [97]:
user_logs = pd.read_csv('visit_log2.csv', sep = ';')
user_logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [98]:
user_logs.loc[user_logs.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
user_logs.loc[(user_logs.region == 'Russia')  & (user_logs.traffic_source.isin(['paid', 'email'])), 'source_type'] = 'ad'
user_logs.loc[(user_logs.region != 'Russia')  & (user_logs.traffic_source.isin(['paid', 'email'])), 'source_type'] = 'other'
user_logs.loc[pd.isna(user_logs.source_type), 'source_type'] =  user_logs.traffic_source

In [99]:
user_logs.head(700)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
695,1549984871,ef4d3c128e,https://host.ru/8e88d4703848cc0ec4,Belarus,53c6b4506c,google,organic
696,1549984872,030dd256c2,https://host.ru/ac2d98a5a63e7c6e28,Russia,c2e8d01ae5,email,ad
697,1549984877,4d5e25a4ac,https://host.ru/c8d9213a31839f9a3a,Russia,86c3d8e62b,email,ad
698,1549984880,99e87a0b17,https://host.ru/ef57543002ce2a0f2a,India,5ff8eb29ca,direct,direct
699,1549984882,afe3afd6b8,https://host.ru/6407d4271d7b23cdf5,Australia,5aaf8cf733,paid,other

<hr>

### Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [105]:
urls = pd.read_csv('URLs.txt')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [109]:
urls[urls.url.str.contains(r'\/\d{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

<hr>

### Задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [2]:
from pymystem3 import Mystem
m = Mystem()

In [3]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [4]:
data.head()

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [5]:
def kw_lemmas(row):
    for kw in row:
        lemmas = ''.join(m.lemmatize(kw)).replace('\n','')
        return lemmas

In [6]:
data['lemmas'] = data.apply(kw_lemmas, axis=1)
data.head()

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль